<h1>{{title}}</h1>
<p class="badge badge-info"> version: {{version}} </p>


<div class="alert alert-primary" role="alert">
  Get info about the weather: <a href="/api/v1/weather">/api/v1/weather</a>
</div>



<div class="alert alert-primary" role="alert">
  <p>
      Hent kurser tilhører Jalal@SuperUsers 
  </p>
  
  <li>
      <a href="/api/v1/kursus">/api/v1/kursus (old version)   </a>
  </li>
  <br>
  <li>
      <a href="/api/v2/kursus">/api/v2/kursus (use this version) </a>
  </li>
  
</div>


<div class="alert alert-success" role="alert">
    Run your angular app from this link: <a href="/kursusApp">/kursusApp</a>
</div>





