<h1>{{title}}</h1>
<p class="badge badge-info"> version: {{version}} </p>


<div class="alert alert-primary" role="alert">
  Get info about the weather: <a href="/api/v1/weather">/api/v1/weather</a>
</div>



<div class="alert alert-primary" role="alert">
  Hent kurser  tilhører Jalal@SuperUsers <a href="/api/v1/kursus">/api/v1/kursus</a>
</div>


<div class="alert alert-success" role="alert">
    Run your angular app from this link: <a href="/kursusApp">/kursusApp</a>
</div>





